<form class="custom-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="formularioLogin">
    <h2>
      <p style="margin-left: 10px;">LOGIN</p>
    </h2>

    <div class="formularioLoginCampos">
      <!-- Email -->
      <input id="email-input"
        type="email"
        formControlName="email"
        placeholder="Introduce tu email"
        name="email"
        [class.is-invalid]="loginForm.get('email')?.invalid && loginForm.get('email')?.touched"
      />
      <div id="email-error" class="invalid-feedback" *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
        <span *ngIf="loginForm.get('email')?.hasError('required')">
          * El email es obligatorio.
        </span>
        <span *ngIf="loginForm.get('email')?.hasError('email')">
          * Formato de email inválido.
        </span>
      </div>

      <!-- Contraseña -->
      <input id="pwd-input"
        type="password"
        formControlName="pwd"
        placeholder="Introduce tu contraseña"
        [class.is-invalid]="loginForm.get('pwd')?.invalid && loginForm.get('pwd')?.touched"
      />
      <div id="pwd-error"
        class="invalid-feedback"
        *ngIf="loginForm.get('pwd')?.touched && loginForm.get('pwd')?.hasError('required')"
      >
        <span>
        * La contraseña es obligatoria.
        </span>
      </div>

      <!-- Botón de Login -->
      <div id="login-button" style="display: flex; justify-content: space-around;">
        <div
          class="botonLogin"
          [class.disabled]="loginForm.invalid"
          (click)="onSubmit()"
        >
          <p>LOGIN</p>
        </div>
      </div>

      <div class="noCredenciales" id="noCredenciales">
        <a id="registerLink" routerLink="/register">¿No tienes cuenta?</a>
        <a id="restorePwdLink" (click)="openRecoveryDialog(forgotPwdTpl)">¿Has olvidado la contraseña?</a>
      </div>
    </div>
  </div>
</form>

<!-- Plantilla del diálogo -->
<ng-template #forgotPwdTpl>
  <h2 mat-dialog-title>Recuperar contraseña</h2>
  <mat-dialog-content [formGroup]="forgotForm">
    <p>Introduce tu correo:</p>
    <mat-form-field appearance="fill" style="width:100%">
      <input matInput formControlName="email" placeholder="Email" />
      <mat-error *ngIf="forgotForm.get('email')?.invalid && forgotForm.get('email')?.touched">
        Email inválido
      </mat-error>
    </mat-form-field>
    <p *ngIf="msgRecovery" [class.error]="errorRecovery">{{ msgRecovery }}</p>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button (click)="dialogRef.close()">Cancelar</button>
    <button mat-raised-button color="primary"
            [disabled]="forgotForm.invalid"
            (click)="submitRecovery()">
      Enviar
    </button>
  </mat-dialog-actions>
</ng-template>