p{
    margin: 0px;
}
.buscador{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background: #909090;
    margin: 20px;
}
.nombreBuscador{
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
input{
    height: 30px;
    border-radius: 5px;
    margin: 10px;
    border: none;
    padding-left: 10px;
    background: #dadada;
}

.botonBuscar{
    display: flex; 
    justify-content: space-around;
}

.contenidoBotonBuscar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    margin: 10px;
    background-color: black;
    border-radius: 5px;
    border: solid 1px black;
    transition: 0.3s;
    color: white;
}

.contenidoBotonBuscar:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

.contenidoBotonAnadir{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 160px; */
    height: 30px;
    margin: 10px;
    background-color: black;
    border-radius: 5px;
    border: solid 1px black;
    transition: 0.3s;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.contenidoBotonAnadir:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

.contenidoBotonAnadir{
    display: flex;
}

.contenedorFlex{
    display: flex;
    padding: 20px;
}
#contenedorProductos{
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}
.divproducto{
    /* margin: 20px; */
    /* background: #909090; */
    /* padding: 20px; */
    border-radius: 5px;
    display: flex;
}
.acciones{
    width: 20%;
    height: 40px;
    background: black;
    margin: 20px 10px 0px 20px;
}
.atributo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    background: black;
    margin: 20px 10px 0px 10px;
    color: white;
    width: -webkit-fill-available;
}
.info{
    width: 20%;
    height: 40px;
    background: black;
    margin: 20px 20px 0px 10px;
}

.productoAcciones{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 40px;
    background: black;
    margin: 20px 10px 0px 20px;
    border-radius: 5px;
    background: #dbdbdb;
}
.productoAcciones i{
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.productoAcciones i:hover{
    cursor: pointer;
}
.productoAtributo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    background: #dbdbdb;
    border-radius: 5px;
    margin: 20px 10px 0px 10px;
    width: -webkit-fill-available;
}
.productoInfo{
    width: 20%;
    height: 40px;
    background: #dbdbdb;
    margin: 20px 20px 0px 10px;
    border-radius: 5px;

}
.volver{
    display: flex;
    margin: 0px 20px 0px 20px;
    font-size: 33px;
    align-items: center;
    justify-content: flex-end;

}
.volver:hover{
    cursor: pointer;
}
.sinProductos{
    display: flex;
    justify-content: center;
    background: #dbdbdb;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
}