<div class="toolbar">
  <!-- Izquierda: icono + título + buscador -->
  <div class="toolbar-left">
    <div class="title">
      <i class="fa-solid fa-magnifying-glass"></i>
      <span>BUSCADOR PRODUCTOS</span>
    </div>
    <div class="search-box">
      <input
        type="text"
        placeholder="Nombre producto..."
        [(ngModel)]="searchTerm"
        (ngModelChange)="onSearch()"
        aria-label="Buscar producto" />
      <!-- <button (click)="onSearch()">BUSCAR</button> -->
    </div>
  </div>

  <!-- Derecha: botón de añadir -->
  <button class="btn-add" (click)="openModalAndPrepare(INSERTAR)">
    <i class="fa-solid fa-plus"></i>
    <span>AÑADIR PRODUCTO</span>
  </button>
</div>

<div class="volver flex align-center" routerLink="../listas" (click)="disconnectWs()" aria-label="Volver a listas">
  <i class="fa-solid fa-arrow-left" aria-hidden="true"></i>
  <span><strong>VOLVER</strong></span>
</div>

<div class="productos-container">
  <table class="productos-table tabla-50px">
    <caption class="sr-only">Lista de productos</caption>
    <col style="width: 10%;" />   <!-- Acciones -->
    <col style="width: 35%;" />   <!-- Nombre -->
    <col style="width: 15%;" />   <!-- Total -->
    <col style="width: 15%;" />   <!-- Comprado -->
    <col style="width: 25%;" />   <!-- Añadir compra -->
    <thead>
      <tr>
        <th scope="col">Acciones</th>
        <th scope="col">Nombre</th>
        <th scope="col">Total</th>
        <th scope="col">Comprado</th>
        <th scope="col">Añadir compra</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of filteredProductos()"
          [class.comprado]="producto.cantidad_comprada >= producto.cantidad">
        <td class="acciones-cell">
          <ng-container *ngIf="producto.id_creador === currentUserId || propietarioId === currentUserId; else placeholderActions">
            <button class="icon-button" (click)="openModalAndPrepare(MODIFICAR, producto)">
              <i class="fa-solid fa-pen"></i>
            </button>
            <button class="icon-button" (click)="openEliminarProducto(producto.id, producto.nombre)">
              <i class="fa-solid fa-trash"></i>
            </button>
          </ng-container>
          <ng-template #placeholderActions>
            <!-- dos spans vacíos que mantienen el tamaño -->
            <span class="action-placeholder"></span>
            <span class="action-placeholder"></span>
          </ng-template>
        </td>
        <td>{{ producto.nombre || 'Sin nombre' }}</td>
        <td>{{ producto.cantidad }}</td>
        <td>{{ producto.cantidad_comprada }}</td>
        <td class="add-purchase-cell">
          <input type="number" min="0" placeholder="0"
                [(ngModel)]="purchaseAmount[producto.id]"
                class="inputCompra"
                onkeypress="return false;"
                onpaste="return false;"
                ondrop="return false;" />
          <button class="btnCompra" type="button" (click)="addPurchased(producto)">+</button>
        </td>
      </tr>
      <tr *ngIf="productos.length === 0">
        <td colspan="5" class="sinProductos">NO HAY PRODUCTOS EN ESTA LISTA</td>
      </tr>
    </tbody>
  </table>
</div>

<div
  *ngIf="isModalOpen"
  class="modal-backdrop"
  (click)="closeModal()">
</div>
<!-- contenedor modal centrado -->
<div *ngIf="isModalOpen" class="modal-wrapper">
  <app-mto-productos
    [tipoAccion]="intAccion"
    [idProducto]="idProducto ?? 0"
    [idLista]="idLista"
    [producto]="selectedProducto"
    (modalClose)="closeModal()"
    (modalSave)="onModalSave($event)">
  </app-mto-productos>
</div>