*{
    font-family: "Roboto", sans-serif;
}
/* FORMULARIO */
.formularioRegistrar{
    position:absolute;
    top: 25%;
    left: 35%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: beige;
    width: 30vw;
    border-radius: 5px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.5);

}

.formularioRegistrarCampos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.formularioRegistrarCampos > input{
    height: 30px;
    border-radius: 5px;
    margin: 10px;
    border: none;
}

.botonRegistrar{
    width: 100px;
    height: 30px;
    margin: 10px;
    background-color: black;
    border-radius: 5px;
    border: solid 1px black;
    transition: 0.3s;
    color: white;
}

.botonRegistrar:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

.botonRegistrar > p{
    margin: 6px 0px 0px 12px;
}

.oculto{
    display: none;
}
#login a{
    margin: 20px;
    font-size: 11px;
    color: blue;
}