<div class="modal-overlay" (click)="closeModal()"></div>
<div class="modal-container">
  <div class="modal-header">
    <h2 *ngIf="tipoAccion == 1">Añadir Lista</h2>
    <h2 *ngIf="tipoAccion == 2">Modificar Lista</h2>
    <button class="close-button" (click)="closeModal()">X</button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="submitForm()">

      <label for="nombreLista">NOMBRE:</label>
      <input type="text" id="nombreLista" [(ngModel)]="nombreLista" name="nombreLista" required>
      <div style="display: flex;flex-direction: row;justify-content: center; width: 100%;">
        <button *ngIf="tipoAccion == 1" id="botonEnviarLista" type="submit">Añadir</button>
        <button *ngIf="tipoAccion == 2" id="botonEnviarLista" type="submit">Modificar</button>
      </div>
    </form>
  </div>
</div>
