<div class="buscador">
    <div class="nombreBuscador">
        <div style="display: flex; padding-left: 20px;">
            <i style="margin-right: 5px;" class="fa-duotone fa-solid fa-magnifying-glass"></i>
            <p><b>BUSCADOR LISTAS</b></p>
        </div>
        <div style="display: flex;">
            <div class="botonAnadir">
                <div class="contenidoBotonAnadir" (click)="insertarLista()">
                    <i style="margin-right: 15px;" class="fa-solid fa-plus"></i>
                    <p>AÑADIR LISTA</p>
                </div>
            </div>
        </div>
    </div>
    <div class="contenidoBuscador">
        <div>
            <div class="contenedorFlex">
                <input type="text" placeholder="nombre lista">
                <div class="botonBuscar">
                    <div class="contenidoBotonBuscar">
                      <p>BUSCAR</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div id="contenedorListas">
    <div style="display: flex; flex-direction: row;">
        <div class="acciones"></div>
        <div style="width: 100%; display: flex;">
            <div class="atributo">
                <p><b>NOMBRE</b></p>
            </div>
        </div>
        <div class="info"></div>
    </div>
    <div class="divlista" *ngFor="let lista of listas">
        <div class="listaAcciones">
            <i class="fa-solid fa-pen" title="Modificar lista" (click)="modificarLista(lista.id)"></i>
            <i class="fa-solid fa-trash" title="Eliminar Lista" (click)="eliminarLista('confirmación', '¿Estás seguro de eliminar esta lista?', lista.id)"></i>
            <i routerLink="../productos" [queryParams]="{id: lista.id}" class="fa-solid fa-cart-shopping" title="Ver Productos"></i>
            <i class="fa-solid fa-share-from-square" title="Compartir lista" (click)="compartirLista(lista.id)"></i>
        </div>
        <div style="width: 100%; display: flex;">
            <div class="listaAtributo">
            <p>{{ lista.nombre || 'Sin nombre' }}</p>
            </div>
        </div>
        <div class="listaInfo"></div>
    </div>
    <div *ngIf="listas.length == 0" class="sinListas">
        <p>NO SE HAN ENCOTRADO LISTAS</p>
    </div>
</div>
<app-mto-listas *ngIf="isModalOpen" (modalClose)="isModalOpen = false" [tipoAccion]="intAccion" [idLista]="idLista"></app-mto-listas>
<app-modal-advertencia [tipoAdvertencia]="tipoAdvertencia" [mensaje]="mensajeModal" [mostrar]="mostrarModal" (onConfirmar)="eliminarListaConfirmada()" (onCancelar)="cerrarModal()"></app-modal-advertencia>
<app-mto-url *ngIf="sharedModal" [url]="url" (sharedModalClose)="sharedModal = false" ></app-mto-url>