.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  
  .modal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 600px;
    background: white;
    border-radius: 10px;
    padding: 20px;
    z-index: 1001;
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .close-button {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .modal-body form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .modal-body form button {
    margin-top: 10px;
  }

  .contenedorUrl > input{
    width: 85%;
  }
  .contenedorUrl > i{
    cursor: pointer;
  }