    <div class="accesoListaCompartida">
        <p>¿Quieres unirte a la lista?</p>
        <div class="botonesAcceso">
            <div class="botonAdvertencia">
                <div (click)="confirmar()" class="contenidoBotonAdvertencia">
                  <p>Aceptar</p>
                </div>
              </div>
              <div class="botonAdvertencia">
                <div (click)="cancelar()" class="contenidoBotonAdvertencia">
                  <p>Cancelar</p>
                </div>
              </div>
        </div>
    </div>