<form class="custom-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="formularioLogin">
    <h2>
      <p style="margin-left: 10px;">LOGIN</p>
    </h2>

    <div class="formularioLoginCampos">
      <!-- Email -->
      <input id="email-input"
        type="email"
        formControlName="email"
        placeholder="Introduce tu email"
        name="email"
        [class.is-invalid]="loginForm.get('email')?.invalid && loginForm.get('email')?.touched"
      />
      <div id="email-error" class="invalid-feedback" *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
        <span *ngIf="loginForm.get('email')?.hasError('required')">
          * El email es obligatorio.
        </span>
        <span *ngIf="loginForm.get('email')?.hasError('email')">
          * Formato de email inválido.
        </span>
      </div>

      <!-- Contraseña -->
      <input id="pwd-input"
        type="password"
        formControlName="pwd"
        placeholder="Introduce tu contraseña"
        name="pwd"
        [class.is-invalid]="loginForm.get('pwd')?.invalid && loginForm.get('pwd')?.touched"
      />
      <div id="pwd-error"
        class="invalid-feedback"
        *ngIf="loginForm.get('pwd')?.touched && loginForm.get('pwd')?.hasError('required')"
      >
        <span>
        * La contraseña es obligatoria.
        </span>
      </div>

      <!-- Botón de Login -->
      <div id="login-button" style="display: flex; justify-content: space-around;">
        <button
          type="submit"
          class="botonLogin"
        >
          LOGIN
      </button>
      </div>

      <div class="noCredenciales" id="noCredenciales">
        <a id="registerLink" href="/Register">¿No tienes cuenta?</a>
        <a id="restorePwdLink" (click)="openRecoveryPassword()">¿Has olvidado la contraseña?</a>
      </div>
    </div>
  </div>
</form>