.modal-body{
    display: flex;
    flex-direction: column;
    margin: 2rem;
    width: 20rem;
}
.modal-header{
    margin-left: 2rem;
}
.nombreLista{
    margin-left: 0.5rem;
}
.contenidoBotonAnadir{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    margin: 10px;
    background-color: black;
    border-radius: 5px;
    border: solid 1px black;
    transition: 0.3s;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}
