<div class="modal-container">
  <div class="modal-header">
    <h2>{{nombreAccion}} Lista</h2>
  </div>
  <form (ngSubmit)="submitForm()">
    <div class="modal-body">

      <label for="nombreLista" class="nombreLista">NOMBRE:</label>
      <input type="text" id="nombreLista" [(ngModel)]="nombreLista" name="nombreLista" required>
      <div *ngIf="submitted  && nombreLista === ''" class="formWarning">
        *Debes de introducir el nombre de la lista
      </div>
      <div *ngIf="submitted && nombreLista.trim().length > 50" class="formWarning">
        *El nombre no debe superar los 50 caracteres
      </div>
      <div style="display: flex;flex-direction: row;justify-content: center; width: 100%;">
        <button id="botonEnviarLista" class="botonGenerico campoFormAncho_100" type="submit">{{nombreAccion}}</button>
      </div>
    </div>
    </form>
</div>
