      <div class="modal-footer">
        <div class="modal-body">
            <p>Deseas eliminar el miembro de la lista</p>
        </div>
        <!-- <button (click)="confirmar()" class="btn btn-danger">Aceptar</button> -->
        <!-- <button (click)="cancelar()" class="btn btn-secondary">Cancelar</button> -->
        <div class="botonAdvertencia">
          <div (click)="confirmar()" class="contenidoBotonAdvertencia">
            <p>Aceptar</p>
          </div>
          <div (click)="cancelar()" class="contenidoBotonAdvertencia">
            <p>Cancelar</p>
          </div>
        </div>
      </div>