<form class='custom-form' [formGroup]= "pwdForm">      
  <div class="formularioLogin">
    <div>
      <p style="margin-left: 10px;">RESTABLECER CONTRASEÑA</p>
    </div>

    <div class="formularioLoginCampos">
      <input  type="password" formControlName="pwd1" placeholder="Introduce tu contrase&ntilde;a"/>
      <input type="password" formControlName="pwd2" placeholder="Confirma tu contrase&ntilde;a" />        
      <!-- Botón de Login -->
      <div style="display: flex; justify-content: space-around;">
        <div class="botonLogin" (click)="onSubmit()">
          <p>RESTABLECER</p>
        </div>
      </div>

      <!-- <span>
        <button class="btn btn-primary mr-1" [disabled]="pwdForm.invalid">Logarse</button>
        <button class="btn btn-secondary" type="reset" >Cancelar</button>
      </span> -->
    </div>
  </div>


  </form>
