<div>
    <nav class="navegador">
      <div class="contenidoNavegador">
        <div class="contentName">
            <i class="fas fa-user-circle" style="color: white;"></i>
            <p>{{email}}</p>
        </div>
        <div class="contentPremium">
            <p *ngIf="isPremium != false" (click)="abrirStripe()">Pasate a premium</p>
            <i id="cerrarSesion" class="fa-solid fa-right-from-bracket" (click)="cerrarSesion()"></i>
        </div>
      </div>
    </nav>
    <div id="contenidoSecciones">
        <router-outlet></router-outlet>
    </div>
    <div>
    </div>
</div>

